.profile {
  display: flex;
  flex-direction: row;
  max-width: 880px;
  margin: 0 auto 0;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile {
    flex-direction: column;
  }
}
