.profile__subtitle {
  margin: 0;
  padding: 16px 0 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 336px;
}

@media screen and (max-width: 1023px) {
  .profile__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
