.card-grid {
  display: grid;
  max-width: 880px;
  margin: 47px auto 0;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .card-grid {
    grid-template-columns: repeat(2, 282px);
  }
}



@media screen and (max-width: 767px) {
  .card-grid {
    grid-template-columns: 282px;
    column-gap: 0;
  }
}
