.card-grid__like {
  width: 22px;
  height: 19px;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: url(../../../images/card-grid__like.svg);
  cursor: pointer;
  transition: .5s;
  transition-timing-function: ease-in-out;
}

.card-grid__like:hover {
  opacity: 0.5;
}
