.card-grid__button-remove-card{
    position: absolute;
    border: none;
    background-image: url(../../../images/card-grid__image-remove.svg);
    background-size: contain;
    height: 19.3px;
    width: 18px;
    background-color: rgb(0, 0, 0, 0);
    background-repeat: no-repeat;
    top: 18px;
    right: 15px;
    transition: .5s;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}

.card-grid__button-remove-card:hover{
    opacity: 0.6;
}