.profile__item-button-add {
  display: flex;
  border: none;
  border: 2px solid #ffffff;
  background-color: #000000;
  border-radius: 2px;
  width: 150px;
  min-height: 50px;
  align-items: center;
  margin: 0 0 0 auto;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.profile__item-button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__item-button-add {
    margin: 36px auto 0;
    width: 282px;
  }
}
